body {
    background-color: #f5d4e7;
}

.navigation {
    font-family: 'Playfair Display', serif;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b5838d;
    
}

.navigation a {
    display: block;
    text-decoration: none;
    font-size: 40px;
    text-transform: lowercase;
    color: #b5838d;
    padding-left: 20px;
}

li {
    float: left;
    
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.navigation i {
    display: block;
    font-size: 80px;
    color: #b5838d;
    padding-right: 300px;
    
}

.title {
    display: block;

}

.history-title {
    display: block;
  
}

.about-title {
    display: block;
    
}

.culture-title { 
    display: block;

}

.index {
    display: block;

}

.history {
    display: block; 
    
}

.about {
    display: block;
}

.culture {
    display: block;
}

#clicked {
    color: #ffffea;
}

li a:hover {
    color: #ffffea;
  }

.body-text {
    color: #33273b;
    margin: auto;
    font-family: blenny, sans-serif;
    font-style: normal;
    font-weight: 900;   
    line-height: .1rem;
    margin-top: 200px;

}

.home-title {
    font-size: 80px;
    text-align: center;
}

.meet {
    font-size:40px;
    text-align: center;
    font-weight: lighter;
}

