body {
    background-color: #f6d951;
}

.title {
    font-family: pretorian;
    text-shadow: 3px 3px white;
    position: relative;
    left: 200px;
    color: black;
    font-size: 50px;
}

.band {
    font-size: 60px;
    text-shadow: 3px 3px white;
    font-family: pretorian;
    position: absolute;
    left: 1170px;
    top: 250px;
    writing-mode: sideways-rl;
}

.lyrics {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    background-color: #f6d951;
    position: relative; 
    right: 300px;
    left: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    padding: 100px 250px;
    text-align: left;
    border: 10px double;
    border-color: black;
    
}


