body {
    background-color: #f6d951;
}

.band {
    font-family: pretorian;
    text-shadow: 3px 3px white;
    color: black;
    font-size: 50px;
    position: relative;
    left: 250px;
    margin-bottom: 50px;
}

.title {
    font-size: 45px;
    text-shadow: 3px 3px white;
    position: absolute;
    top: 245px;
    right: 200px;
    font-family: pretorian;
    writing-mode: vertical-rl;
}

.lyrics {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    background-color: #f6d951;
 
    margin-left:300px;
    width: 300px;
    margin-bottom: 50px;
    padding: 25px 200px 25px 250px;
    display: block;
    text-align: left;
    border: 10px double;
    border-color: black;
    
}